Repository chrisjoyce911/log: changes, and which Codecov flags are due for each by the changed paths.
All: Core API & Levels, Handlers, HTTP Middleware, File Helpers, Time Formatting, Testing Helpers

nvalid go version
  .github/workflows/ci.yml
  go.mod
Due: none

cleanup dual output
  .gitignore
  examples/dual_output/main.go
  file_helpers.go
  logger_close_test.go
  logger_core.go
Due: Core API & Levels, File Helpers

Fixed spacking of level prefix
  levels.go
Due: Core API & Levels

removed extra .
  levels.go
Due: Core API & Levels

Fixed tests
  additional_cases_test.go
  api_test.go
  examples/levels_demo/main_test.go
  examples_integration_test.go
  file_helpers_test.go
  go.mod
  levels.go
  levels_test.go
  logger_close_test.go
Due: Core API & Levels

Added IP to logging
  http_middleware.go
Due: HTTP Middleware

Path conditions:
  Core API & Levels: any of: api.go, logger_core.go, flags.go, levels.go, types.go, but not: examples/**
  Handlers: any of: handler_*.go, but not: examples/**
  HTTP Middleware: any of: http_middleware.go, but not: examples/**
  File Helpers: any of: file_helpers.go, but not: examples/**
  Time Formatting: any of: timefmt.go, but not: examples/**
  Testing Helpers: any of: testing_helpers.go, but not: examples/**
